* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $red;
  color: $white;
  font-family: $font__primary;
  font-size: $font__size;
  font-weight: 400;
}

a {
  color: $yellow;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.none {
  display: none;
}
